$baseColor: #f9f8f6;
$subColor: #887f69;
$red: #9d1a2d;
$fontColor: #333;
$fontColor2: #887f69;
$borderColor: #e8e4da;

$baseFontFamily: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;